version: "3.9"

services:
  api:
    build: .
    container_name: traveloka-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - .:/app
    command: npm run dev

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: traveloka_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5433"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
